body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;  
}

#home {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 10px 20px;
    color: red;
}


a {
    text-decoration: none;
    color: inherit;   
}
img {
    max-width: 100%;
    display:block;
}
