body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;  
}

#home {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 10px 20px;
    color: red;
}


a {
    text-decoration: none;
    color: inherit;   
}
img {
    max-width: 100%;
    display:block;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: black;
    border-bottom: 1px solid white;
}
nav.navbar a {
    margin: 0 10px;
    font-weight: bold;
    color: white;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px;
    background-color: black;
    border-bottom: 1px solid red;
}
.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
.hero p {
    max-width: 600px;
    font-size: 18px;
    line-height: 1.5;
}
.hero img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.hero button {
    display:inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.content {
    padding: 20px;
    background-color: black;
}
.trending {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 45px;
}
.trending section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 1px solid gray; 
    padding:15px;
    border-radius: 6px;
     

}
.trending h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.trending button {
    background-color: red;
    color: white;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
}
.trending img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}
.footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ccc;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.footer p {
    margin: 0;
    color: black;
}   
.footer a {
    color: black;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}   
.footer img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.footer nav {
    display: flex;
    text-align: start;
    margin-bottom: 10px;
    gap:20px;
}
.footer .social-links {
    display: flex;
    gap: 10px;
}
.footer .social-links a {
    color: black;
    font-size: 20px;
}