body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    
}

#home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    color: red;
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: white;   
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;

}

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: black;
    border-bottom: 1px solid white;
}
nav.navbar a {
    margin: 0 10px;
    font-weight: bold;
    color: white;
}

nav a:hover {
    color: red;

}
nav a {
    transition: color 0.3s ease;
}
#search{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    gap: 1em 0;
    align-items:flex-end;
    margin-right: 5px;
    ;
}
.search-bar {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: black;
    color: white;

}
.btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    
}           

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px;
    background-color: black;
    border-bottom: 1px solid red;
}
.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
.hero p {
    max-width: 600px;
    font-size: 18px;
    line-height: 1.5;
}
.hero img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.hero button {
    display:inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.content {
    padding: 20px;
    display: flex;
    background-color: black;
    flex-direction: row;
}

.trend {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
   
    

.trending-poster {
    max-width: 100%;
    height: auto;
   
    
}

.movie-info {
    flex-direction: row;
    display: flex;
   

}
.trending {
    display: flex;
    flex-direction: column;
    width: 50vw;
}


.trending section {
    display: flex;
     

}
.trending h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.trending button {
    background-color: red;
    color: white;
    
     
}
.trending img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    color: white;
    border-top: 1px solid red;
}


.footer p {
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
 
}   
.footer a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}   
.footer img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.footer nav {
    display: flex;
    text-align: start;
    margin-bottom: 10px;
    gap:20px;
}
.footer .social-links {
    display: flex;
    gap: 10px;
}
.footer .social-links a {
    color: white;
    font-size: 20px;
}
.footer .social-links a:hover {
    color: red;
    transition: color 0.3s ease;
}